/* EXTENDS */


/* VARIABLES */

$DogiColor: #01abdc;

/* Placeholder */

%botones {
    background-color: $DogiColor;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding: 8px 10px;
    border-radius: 25px;
}