/*NAVBAR*/

.navbar{
    background: linear-gradient(90deg, rgba(1,171,220,1) 0%, rgba(28,97,190,1) 100%);
    color: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.nav-link, .dropdown-item{
    font-size: 0.8em;
}